<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BA103G4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>/index/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/BA103G4DB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>gift_dataServlet</servlet-name>
    <servlet-class>com.gift_data.controller.Gift_dataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gift_dataServlet</servlet-name>
    <url-pattern>/gift_data/gift_dataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gift_managementServlet</servlet-name>
    <servlet-class>com.gift_management.controller.Gift_managementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gift_managementServlet</servlet-name>
    <url-pattern>/gift_management/gift_managementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>act_managementServlet</servlet-name>
    <servlet-class>com.act_management.controller.Act_managementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>act_managementServlet</servlet-name>
    <url-pattern>/act_management/act_managementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ad_managementServlet</servlet-name>
    <servlet-class>com.ad_management.controller.Ad_managementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ad_managementServlet</servlet-name>
    <url-pattern>/ad_management/ad_managementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mem_managementServlet</servlet-name>
    <servlet-class>com.mem_management.controller.Mem_managementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mem_managementServlet</servlet-name>
    <url-pattern>/mem_management/mem_managementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gift_businessServlet</servlet-name>
    <servlet-class>com.gift_business.controller.Gift_businessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gift_businessServlet</servlet-name>
    <url-pattern>/gift_business/gift_businessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GiftImg</servlet-name>
    <servlet-class>com.gift_data.controller.GiftImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiftImg</servlet-name>
    <url-pattern>/GiftImg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdImg</servlet-name>
    <servlet-class>com.ad_management.controller.AdImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdImg</servlet-name>
    <url-pattern>/AdImg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActImg</servlet-name>
    <servlet-class>com.act_management.controller.ActImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActImg</servlet-name>
    <url-pattern>/ActImg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemImg</servlet-name>
    <servlet-class>com.act_management.controller.MemImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemImg</servlet-name>
    <url-pattern>/MemImg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProdServletBack</servlet-name>
    <servlet-class>com.prod.controller.ProdServletBack</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <filter>
    <filter-name>SetShowLoginFilter</filter-name>
    <filter-class>com.filter.SetShowLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetShowLoginFilter</filter-name>
    <url-pattern>/FrontEnd/*</url-pattern>
    <servlet-name>*</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>SetEncodeFilter</filter-name>
    <filter-class>com.filter.SetEncodeFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetEncodeFilter</filter-name>
    <url-pattern>/FrontEnd/buyerorder/*</url-pattern>
    <url-pattern>/FrontEnd/cart/*</url-pattern>
    <url-pattern>/FrontEnd/index/*</url-pattern>
    <url-pattern>/FrontEnd/mem/*</url-pattern>
    <url-pattern>/FrontEnd/order/*</url-pattern>
    <url-pattern>/FrontEnd/shop/*</url-pattern>
    <url-pattern>/FrontEnd/act/*</url-pattern>
    <url-pattern>/FrontEnd/contact_us/*</url-pattern>
    <url-pattern>/FrontEnd/gift/*</url-pattern>
    <url-pattern>/FrontEnd/ord_mag/*</url-pattern>
    <url-pattern>/FrontEnd/prod_mag/*</url-pattern>
    <url-pattern>/FrontEnd/reg_mem/*</url-pattern>
    <url-pattern>/FrontEnd/reg_store/*</url-pattern>
    <url-pattern>/FrontEnd/store_mag/*</url-pattern>
    <url-pattern>/act_management/act_managementServlet/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>MemLoginFilter</filter-name>
    <filter-class>com.memlogin.controller.MemLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemLoginFilter</filter-name>
    <url-pattern>/FrontEnd/buyerorder/buyerorder.jsp</url-pattern>
    <url-pattern>/FrontEnd/cart/cart.jsp</url-pattern>
    <url-pattern>/FrontEnd/mem/mem.jsp</url-pattern>
    <url-pattern>/FrontEnd/order/order.jsp</url-pattern>
    <url-pattern>/FrontEnd/ord_mag/*</url-pattern>
    <url-pattern>/FrontEnd/prod_mag/*</url-pattern>
    <url-pattern>/FrontEnd/reg_store/*</url-pattern>
    <url-pattern>/FrontEnd/store_mag/*</url-pattern>
    <servlet-name>Cart_listServletAjax</servlet-name>
    <servlet-name>Fo_prodServletAjax</servlet-name>
    <servlet-name>Fo_storeServletAjax</servlet-name>
    <servlet-name>Like_revServletAjax</servlet-name>
    <servlet-name>OrdServlet</servlet-name>
    <servlet-name>OrdServletAjax</servlet-name>
    <servlet-name>QaControllerAjax</servlet-name>
    <servlet-name>ReviewServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>MgrLoginFilter</filter-name>
    <filter-class>com.mgrlogin.controller.MgrLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MgrLoginFilter</filter-name>
    <url-pattern>/BackEnd/act/*</url-pattern>
    <url-pattern>/BackEnd/ad/*</url-pattern>
    <url-pattern>/BackEnd/gift/*</url-pattern>
    <url-pattern>/BackEnd/mem/*</url-pattern>
    <url-pattern>/BackEnd/reg_store/*</url-pattern>
    <url-pattern>/BackEnd/main.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
</web-app>